<html>
    <head>
        <title>New message form</title>
    </head>
    <body>
        <form method="POST" action="/new">
            <label for="messageUser">User:</label><br>
            <input type="text" id="messageUser" name="messageUser" value="User"><br>
            <label for="messageText">Text:</label><br>
            <input type="text" id="messageText" name="messageText" value="Text"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>