<html>
    <head>
        <title>Mini message board</title>
    </head>
    <body>
        <h1>Hola, Blanca!</h1>
        <div>
            <% messages.forEach(message => { %>
                <%- include('messages/message', {message: message}) %>
            <% }) %>
        </div>
        <a href="/new">Post new message</a>
    </body>
</html>