<html>
    <head>Message detail</head>
    <body>
        <div>
            <div><%= message.user %></div>
            <div><%= message.added %></div>
            <div><%= message.text %></div>
            <a href=<%= `/`%>>Index</a>
        </div>
    </body>
</html>